<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gridview_user_interface</title>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="/static/css/mm_landing_page.css" type="text/css" rel="stylesheet"/>
    <script src="/static/js/mm_landing_page.js"></script>
</head>
<body onload="fetchShows()">
<div align="center">
    <div id="label_div" style="text-align: center; color: darkgray; width: 100%;" class="marquee">
        <marquee width="40%" direction="left"><label style="font-size:50px;">Media Manager</label></marquee>
    </div>
    <div id="shows_div"  align="center" >
    </div>
</div>
</body>
</html>